
  </div>

  <br>
 <hr>
 <p class="text-center">&COPY; LiveCaster</p> </hr>
</main>
</main><!-- /.container -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script src="/js/main.js"></script>

<script src="//cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
   CKEDITOR.replace('details');
</script>
   </body>
</html>
